
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 150px;
  width: 100%;
  background-color: yellow;
  position: relative;
}

header .p1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main part */
.sec1{
  margin: 12px 15px;
}

.sec1::after {
  content: "";
  display: table;
  clear: both;
}

.left, .right {
  float: left;
  /* debuging point */
  height: 300px;
  background-color: green;
}

.left {
  width: 24%;
}

.right {
  float: right;
  width: 24%;
  margin: 2px 0;
  /* debuging point */
  height: 160px;
}

.middle {
  text-align: center;
  width: 50%;
  float: left;
  margin: 0 1%;
  /* debuging point */
  height: 160px;
  height: 380px;
  background-color: purple;
}

.right_b{
  margin: 7px 0;
}

/* footer */

footer {
  text-align: right;
  height: 100px;
  width: 100%;
  background-color: red;
}
